/* fonts from googleapis */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600|Roboto+Condensed|Roboto:500|Ubuntu&display=swap');
@font-face
{
	/* font from folder*/
	font-family: 'Roboto', sans-serif;
	src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

h1
{ 
	font-family: 'Roboto', 'Ubuntu', 'Open Sans', 'Berlin Sans FB', sans-serif;
	color: #000000;
	display:grid;
	margin-bottom: -0.5em;
	padding: 0.5em;
	text-align:center;
	font-size:3em;
}

h2
{
	font-family: 'Roboto', 'Roboto Condensed', arial, 'Open Sans', sans-serif;
	color: #000000;
	display: grid;
	padding: 0.5em;
	text-align:center;
}

p, li, article, legend, input, textarea, button
{
	font-family: 'Roboto-Light', arial, 'Roboto', 'Open Sans', sans-serif;
	color:#444444;

}
footer
{
	font-family: 'Roboto-Light', arial, 'Roboto', 'Open Sans', sans-serif;
	color:#000000;
	margin-top: 1em;
	text-align: center;
}
p:last-child, #endFooter
{
	font-family: 'Roboto-Light', arial, 'Roboto', 'Open Sans', sans-serif;
	grid-area: a;
	background-color: ##2699FB;
	color:#FFFFFF;
	margin-top: 1em;
	text-align: center;
}
#cookies
{
	position: fixed;
	bottom: 0;
	right: 0;
	margin:0;
	padding: 1em;
	z-index: 999999;
	background-color: #000000;
	color: #FFFFFF;
}

#bgVideo
{
	position: fixed;
	top: 0;
	left: 0;
	min-width:100%;
	min-height:100%;
	max-width:100%;
	max-height:100%;
	z-index: -99999;
	object-fit: fill;
}

#subject1Title
{
	grid-area: a;
	background-color: #2699FB;
	border: solid 0.1em;
	margin-bottom: 1em;
}

#payoff
{
	color:#707070;
	text-align:center;
}


#mainSection
{
	grid-area : a;
	margin-top: 1em;
	background-color : #2699FB;
	border: solid 0.1em;
}
#secondarySection
{
	grid-area : a;
	margin-top: 1em;
	background-color : #2699FB;
	border: solid 0.1em;
}
#sportSection
{
	grid-area : a;
	margin-top: 1em;
	background-color : #2699FB;
	border: solid 0.1em;
}

#referenceSection
{
	grid-area : a;
	margin-top: 1em;
	background-color : #2699FB;
	border: solid 0.1em;
}

#contactSection
{
	grid-area : a;
	margin-top: 1em;
	background-color : #2699FB;
	border: solid 0.1em;
}

*
{
	text-decoration:none;
	list-style:none;
	margin:0em;
	padding:0em;
}

section
{
	width:100%;
	max-width:100%;
	margin:0em auto;
}



header
{
	width:100%; 
	display:table; 
	background-color:#AAAAAA;
	margin-bottom:3em;
}

nav
{
	grid-area : a;
	background-color : #2699FB;
	border: solid 0.1em;
	width:auto;
	float:right;
	margin-top: 0em;
	margin-right: -0.2%;
	margin-bottom: 2em;
}

nav ul{display:table; float:left;}
nav ul li{float:left;}
nav ul li a{color:#FFFFFF; font-size:1em; padding: 1.5em; display:grid; transition: 1.5s;}
nav ul li a:hover{background-color:#000000; color:#F5F5F5; transition: 1.5s;}

@media screen and (min-device-width : 960px)
{
	.tablet,.mobile
	{
		display: none;
	}
}
@media screen and (min-device-width: 400px) and (max-device-width: 960px)
{
	.pc,.mobile
	{
		display: none;
	}
}
@media screen and (max-device-width: 400px)
{
	.pc,.tablet
	{
		display: none;
	}
#hamburgerMenu:checked + #MenuNav
	{
		display : block;
		
	}
}